<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <title>iSpan PyMySQL</title>
</head>

<style>
    .chart-container {
        margin: 10px 10px;
        border: 1px solid #ccc;
        padding: 10px;
    }

    h2 {
        margin: 0 0 10px 0;
    }
</style>

<body>
    <div style="display: flex;">
        <!-- <div class="chart-container">
            {% include 'bar.html' %}
        </div> -->
        <div class="chart-container">
            {% include 'pie.html' %}
        </div>
        <div class="chart-container">
            {% include 'hierarchical_bar.html' %}
        </div>
    </div>

    <div class="chart-container" style="max-width: max-content;">
        {% include 'scatterplot.html' %}
    </div>

</body>

</html>